header {
   
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
   
  }
  
  header img {
    float: left;
    width: 50px;
    height: 50px;
  }
  
  header nav {
    float: right;
  }
  
  ul {
    float: right;
    list-style-type: none;
    margin-top: 1.25%;
  }
  
  ul li {
    display: inline-block;
  }
  
  ul a li {
    padding-top: 10px;
    margin-right: 20px;
    font-weight: bold;
  }
  
  body {
    width: 100%;
    background-image: url("../img/pattern.jpg");
    margin: 0;
    margin-bottom: 5%;
  }
  
  section {
    width: 900px;
    background: white;
    margin: 20px 50px 50px 250px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
  }
  
  section article{
    border-bottom: 3px solid black;
  }
  section h1 {
    text-align: center;
  }
  
  section article h3 {
    margin-top: 50px;
    
  }

  section article a {
    text-decoration: none;
  }
  
  
  section article p {
    text-align: justify;
  }
  
  footer {
    background-color: black;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer h5 {
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
  }